body
{
display: flex ;
flex-direction: column;
margin: 0;
padding: 0;
font-family: sans-serif;
justify-content: center;
align-items:center;
}
.titulo
{
  text-align: center;
}

.container-principal
{
  display: grid;
  grid-template-columns:  2fr 2fr 2fr 2fr;
  grid-template-rows:  2fr 2fr 2fr;
  justify-content: center;
  gap: 10px;
  border: groove 5px rgb(36, 29, 107);
  padding: 5%;
  width: 1000px;
  background-color: rgb(109, 171, 212);
  justify-content: center;
  align-items: center;
  grid-area: "item1 item1 item2"
                                      "item2"
                                      item;
}

 .item
 {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 40px;
list-style: none;
font-family: sans-serif;
font-weight: 600;
border: solid 2px indigo;
 background-color: rgb(105, 173, 218);
}


.link-home
{
  margin-top: auto;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  color: white;
  border: solid 5px indigo;
  border-radius: 10px;;
  background: linear-gradient(45deg, rgb(6, 110, 245), rgb(74, 1, 133))
}