body
{
display: flex ;
flex-direction: column;
margin: 0;
padding: 0;
font-family: sans-serif;
justify-content: center;
align-items:center;
}
.titulo
{
  text-align: center;
}

.container-principal
{
  display: flex;
  justify-content: center;
  gap: 10px;
  border: groove 5px rgb(36, 29, 107);
  padding: 5%;
  width: 1000px;
  background-color: rgb(109, 171, 212);
}
.container-central
{
  display: flex;
  flex-direction: row;
  
  border: groove 5px blue;
  gap: 10px;
  width: 750px;
  height: 200px;
  justify-content: space-around;
  background-color: rgb(148, 120, 224);
}
 .item
 {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 40px;
list-style: none;
font-family: sans-serif;
font-weight: 600;
border: solid 2px indigo;
 background-color: rgb(105, 173, 218);
}

.link-home
{
  margin-top: auto;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  color: white;
  border: solid 5px indigo;
  border-radius: 10px;;
  background: linear-gradient(45deg, rgb(6, 110, 245), rgb(74, 1, 133))
}